pkgbase = st-royarg-git
	pkgdesc = A modified version of the simple virtual terminal emulator for X.
	pkgver = 0.9.r4.4bc2c6e
	pkgrel = 1
	url = https://github.com/RoyARG02/st
	arch = i686
	arch = x86_64
	arch = armv7h
	license = MIT
	makedepends = ncurses
	makedepends = git
	depends = libxft
	optdepends = xorg-xrdb: for loading X resources
	provides = st
	conflicts = st
	conflicts = st-git
	source = git+https://github.com/RoyARG02/st.git
	md5sums = SKIP

pkgname = st-royarg-git
